<!-- start of brand-carousel -->
<section class="section-padding overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-12" data-aos="fade-left">
                <div class="brand-carousel">
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="images/brands/01-colored.png" alt=""></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="images/brands/02-colored.png" alt=""></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="images/brands/04-colored.png" alt=""></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="images/brands/03-colored.png" alt=""></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="images/brands/05-colored.png" alt=""></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="images/brands/06-colored.png" alt=""></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="images/brands/04-colored.png" alt=""></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="images/brands/02-colored.png" alt=""></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="images/brands/01-colored.png" alt=""></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="images/brands/06-colored.png" alt=""></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="images/brands/05-colored.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of brand-carousel -->