<!-- start of accordion-section -->
<section class="section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h2 class="section-title">Got A <strong>Question?</strong></h2>
            </div>
            <div class="col-lg-10">
                <div class="accordion accordionFAQ mb-40" id="accordionFAQone">
                    <h3 class="text-black-200 font-weight-bold mb-10">How to start with Copper?</h3>
                    <div class="card border-0 border-bottom">
                        <div class="card-header border-0 bg-transparent py-0" id="FAQoneHeadingOne">
                            <h4 class="py-4" data-toggle="collapse" data-target="#FAQoneCollapseOne" aria-expanded="true" aria-controls="FAQoneCollapseOne">
                                <i class="accordion-arrow ti-angle-down"></i>
                                How can I integrate Copper to my current tool stack?
                            </h4>
                        </div>
                    
                        <div id="FAQoneCollapseOne" class="collapse show" aria-labelledby="FAQoneHeadingOne" data-parent="#accordionFAQone">
                            <div class="card-body pt-2">
                                <div class="mb-15">
                                    <p class="font-weight-600 mb-2">Service Provided As:</p>
                                    <p>The Service is provided for free during this pilot project, and is provided "as is" with no warranty. Conclude will provide User support for the Service, however; Conclude is not committed to any level of service or availability of the Service. A further description of the Service and our user support is available at the Site.</p>
                                </div>
                                <div>
                                    <p class="font-weight-600 mb-2">Company Liability:</p>
                                    <p>If you enter into this agreement on behalf of a company, you hereby agree that the company is responsible under this Agreement for all actions and omissions conducted by its designated users of the Service.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-header border-0 bg-transparent py-0" id="FAQoneHeadingTwo">
                            <h4 class="py-4" data-toggle="collapse" data-target="#FAQoneCollapseTwo" aria-expanded="false" aria-controls="FAQoneCollapseTwo">
                                <i class="accordion-arrow ti-angle-down"></i>
                                How can I use Copper with cloud documents?
                            </h4>
                        </div>

                        <div id="FAQoneCollapseTwo" class="collapse" aria-labelledby="FAQoneHeadingTwo" data-parent="#accordionFAQone">
                            <div class="card-body pt-2">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion accordionFAQ mb-40" id="accordionFAQtwo">
                    <h3 class="text-black-200 font-weight-bold mb-10">How to customize Copper?</h3>
                    <div class="card border-0 border-bottom">
                        <div class="card-header border-0 bg-transparent py-0" id="FAQtwoHeadingOne">
                            <h4 class="py-4" data-toggle="collapse" data-target="#FAQtwoCollapseOne" aria-expanded="false" aria-controls="FAQtwoCollapseOne">
                                <i class="accordion-arrow ti-angle-down"></i>
                                How can I integrate Copper to my current tool stack?
                            </h4>
                        </div>
                    
                        <div id="FAQtwoCollapseOne" class="collapse" aria-labelledby="FAQtwoHeadingOne" data-parent="#accordionFAQtwo">
                            <div class="card-body pt-2">
                                <div class="mb-15">
                                    <p class="font-weight-600 mb-2">Service Provided As:</p>
                                    <p>The Service is provided for free during this pilot project, and is provided "as is" with no warranty. Conclude will provide User support for the Service, however; Conclude is not committed to any level of service or availability of the Service. A further description of the Service and our user support is available at the Site.</p>
                                </div>
                                <div>
                                    <p class="font-weight-600 mb-2">Company Liability:</p>
                                    <p>If you enter into this agreement on behalf of a company, you hereby agree that the company is responsible under this Agreement for all actions and omissions conducted by its designated users of the Service.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-header border-0 bg-transparent py-0" id="FAQtwoHeadingTwo">
                            <h4 class="py-4" data-toggle="collapse" data-target="#FAQtwoCollapseTwo" aria-expanded="false" aria-controls="FAQtwoCollapseTwo">
                                <i class="accordion-arrow ti-angle-down"></i>
                                How can I use Copper with cloud documents?
                            </h4>
                        </div>

                        <div id="FAQtwoCollapseTwo" class="collapse" aria-labelledby="FAQtwoHeadingTwo" data-parent="#accordionFAQtwo">
                            <div class="card-body pt-2">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion accordionFAQ" id="accordionFAQthree">
                    <h3 class="text-black-200 font-weight-bold mb-10">How to resume subscription?</h3>
                    <div class="card border-0 border-bottom">
                        <div class="card-header border-0 bg-transparent py-0" id="FAQthreeHeadingOne">
                            <h4 class="py-4" data-toggle="collapse" data-target="#FAQthreeCollapseOne" aria-expanded="false" aria-controls="FAQthreeCollapseOne">
                                <i class="accordion-arrow ti-angle-down"></i>
                                How can I integrate Copper to my current tool stack?
                            </h4>
                        </div>
                    
                        <div id="FAQthreeCollapseOne" class="collapse" aria-labelledby="FAQthreeHeadingOne" data-parent="#accordionFAQthree">
                            <div class="card-body pt-2">
                                <div class="mb-15">
                                    <p class="font-weight-600 mb-2">Service Provided As:</p>
                                    <p>The Service is provided for free during this pilot project, and is provided "as is" with no warranty. Conclude will provide User support for the Service, however; Conclude is not committed to any level of service or availability of the Service. A further description of the Service and our user support is available at the Site.</p>
                                </div>
                                <div>
                                    <p class="font-weight-600 mb-2">Company Liability:</p>
                                    <p>If you enter into this agreement on behalf of a company, you hereby agree that the company is responsible under this Agreement for all actions and omissions conducted by its designated users of the Service.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-header border-0 bg-transparent py-0" id="FAQthreeHeadingtwo">
                            <h4 class="py-4" data-toggle="collapse" data-target="#FAQthreeCollapsetwo" aria-expanded="false" aria-controls="FAQthreeCollapsetwo">
                                <i class="accordion-arrow ti-angle-down"></i>
                                How do I get back to Copper and resume my subscription?
                            </h4>
                        </div>

                        <div id="FAQthreeCollapsetwo" class="collapse" aria-labelledby="FAQthreeHeadingtwo" data-parent="#accordionFAQthree">
                            <div class="card-body pt-2">
                                <div class="mb-15">
                                    <p class="font-weight-600 mb-2">Service Provided As:</p>
                                    <p>The Service is provided for free during this pilot project, and is provided "as is" with no warranty. Conclude will provide User support for the Service, however; Conclude is not committed to any level of service or availability of the Service. A further description of the Service and our user support is available at the Site.</p>
                                </div>
                                <div>
                                    <p class="font-weight-600 mb-2">Company Liability:</p>
                                    <p>If you enter into this agreement on behalf of a company, you hereby agree that the company is responsible under this Agreement for all actions and omissions conducted by its designated users of the Service.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of accordion-section -->