<!-- start footer -->
<footer class="bg-light-gray has-shapes has-bg-brash bg-brash-top @@hasVideo" style="background-image: url(images/brushes/footer.svg)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-12">
                <div class="text-center pb-60">
                    <h2 class="section-title">Join 75,000+ growing business That <strong>Use Copper To Their Brand</strong></h2>
                    <a href="contact.html" class="btn btn-primary has-icon">Get Started With Us
                        <span class="icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z" fill="currentColor"/></svg></span>
                    </a>
                </div>
            </div>
            <div class="col-12">
                <div class="border-bottom"></div>
            </div>
        </div>
        <div class="row pt-60 pb-60">
            <div class="col-lg-4 col-md-6">
                <div class="pr-0 pr-lg-4">
                    <img class="mb-25" src="images/logo.png" alt="">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore dolore magna aliquyam eratnonumy onsetetur</p>
                </div>
            </div>
            <div class="col-lg-2 col-md col-sm-6">
                <div class="pl-0 pl-md-3 mt-5 mt-md-0">
                    <h5 class="font-weight-600 mb-20">Quick Links</h5>
                    <ul class="list-unstyled footer-links">
                        <li><a href="about.html">About</a></li>
                        <li><a href="service.html">Service</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md col-sm-6">
                <div class="pl-0 pl-md-3 mt-5 mt-md-0">
                    <h5 class="font-weight-600 mb-20">Social Links</h5>
                    <ul class="list-unstyled footer-links">
                        <li><a href="#!">Facebook</a></li>
                        <li><a href="#!">Instagram</a></li>
                        <li><a href="#!">Twitter</a></li>
                        <li><a href="#!">Linkedin</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pl-0 pl-lg-4 mt-5 mt-lg-0">
                    <h5 class="font-weight-600">Lets Subscribe Your Email</h5>
                    <form action="" method="post" class="needs-validation mt-30" novalidate>
                        <div class="input-group">
                            <input type="email" class="form-control bg-gray" placeholder="Your email address" required>
                            <div class="input-group-append ml-0">
                                <button type="submit" class="btn btn-primary"><svg width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M30.7071 8.70808C31.0976 8.31756 31.0976 7.68439 30.7071 7.29387L24.3431 0.929909C23.9526 0.539384 23.3195 0.539384 22.9289 0.929909C22.5384 1.32043 22.5384 1.9536 22.9289 2.34412L28.5858 8.00098L22.9289 13.6578C22.5384 14.0484 22.5384 14.6815 22.9289 15.072C23.3195 15.4626 23.9526 15.4626 24.3431 15.072L30.7071 8.70808ZM0 9.00098H30V7.00098H0V9.00098Z" fill="white"/></svg></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="block border-top text-center content">
                        Copyright &copy; 2020 Designed & Developed by <a href="https://themefisher.com/">Themefisher</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shape-1 shape-xs bg-primary rounded-circle"></div>
    <div class="shape-2 shape-sm-2 bg-tertiary rounded-circle"></div>
    <div class="shape-3 shape-sm bg-secondary rounded-circle"></div>
    <div class="shape-4 shape-xs-2 bg-tertiary rounded-circle"></div>
    <div class="shape-5 shape-sm-2 bg-secondary rounded-circle"></div>
    <div class="shape-6 shape-sm-2 bg-primary rounded-circle"></div>
</footer>
<!-- end footer -->

<!-- start of videoModal -->
<div class="modal fade rounded" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0 bg-transparent">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="showVideo"  allowscriptaccess="always" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of videoModal -->

<!-- strat scroll to top -->
<a href="#top" class="btn btn-primary scroll-to-top-btn smooth-scroll position-fixed"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path id="Layer" fill="currentColor" d="M7.2 19.2L15.2 11.2C15.68 10.71 16.43 10.68 16.96 11.08L17.08 11.2L25.08 19.2L23.2 21.08L16.14 14.02L9.08 21.08L7.2 19.2Z"/></svg></a>
<!-- end scroll to top -->

<!-- Plugins Needed for the Project -->
<script src="plugins/jQuery/jquery.min.js"></script>
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<script src="plugins/slick/slick.min.js"></script>
<script src="plugins/shuffle/shuffle.min.js"></script>
<script src="plugins/aos/aos.js"></script>

<!-- Main Script -->
<script src="js/script.js"></script>

</body>
</html>