<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <title>Copper - Software and SAAS landing template</title>

    <meta name="theme-name" content="copper">

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ** Plugins Needed for the Project ** -->    
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="plugins/slick/slick.css">
    <link rel="stylesheet" href="plugins/slick/slick-theme.css">
    <link rel="stylesheet" href="plugins/aos/aos.css">

    <!-- Main Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">

</head>
<body id="top" data-spy="scroll" data-target="#navbar-spy" class="position-relative">

    <!-- start of preloader -->
    <div class="preloader position-fixed d-flex align-items-center justify-content-center">
        <div class="block">
            <div class="loader-image mb-20">
                <img src="images/preloader.png" alt="">
            </div>
            <div class="loader-text text-uppercase">
                <span class="mb-1">Welcome to</span>
                <span>Copper</span>
            </div>
        </div>
    </div>
    <!-- end of preloader -->
  